body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #374151;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

#root {
  min-height: 100vh;
  background: #ebebeb;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-5 {
  width: 5%;
}
